import(Rcpp)
import(xlsx)
import(parallel)
# importFrom("grDevices", "heat.colors")
# importFrom("graphics", "contour", "image")
# importFrom("stats", "pchisq", "quantile", "rnorm")
# importFrom("utils", "read.table", "write.table")

useDynLib(FEstim)

exportClasses(msat.matrix, f.matrix, submap.matrix, list.submaps, hotspot.segments)
exportMethods(show, dim)

export(random.msat)
export(festim)
export(log.proba.emission)
export(Likelihood, Likelihood.gradient, forward.backward)
export(read.msat.matrix)
export(set.HBD.prob)
export(set.FLOD)
export(set.HFLOD)

export(HFLOD.plot.chr)
export(HFLOD.plot.chrs.png)
export(HFLOD.manhattan.plot)
export(bed.logEmiss)
export(segments, submaps)
export(submap.summary)
export(submap.estim)
export(submap.likelihood)
export(submap.HBD)
export(HBD.recap)
export(summary.submaps, segment.summary, summary.map)
export(summary.marker)
