import(Rcpp)
import(parallel)
useDynLib(FEstim)

#classes
exportClasses(msat.matrix, f.matrix, list.submaps, hotspots.matrix, hotspot.segments, snps.matrix, snps.segments)


#computing functions
export(festim)
export(log.proba.emission)
export(Likelihood, Likelihood.gradient)
export(forward.backward)
export(set.HBD.prob)
export(set.FLOD)
export(set.HFLOD)
export(bed.logEmiss)

#submap by hotspots
export(createSegmentsListByHotspots)
export(makeSubmapsByHotspots)

#submap by snps
export(createSegmentsListBySnps)
export(makeSubmapsBySnps)

#submaps summary 
export(submapSummary)
export(submapEstim)
export(submapLikelihood)
export(submap.HBD)
export(recap)
export(markerSummary)
export(segmentsListSummary)
export(summaryMap)
export(summaryMarker)
export(setSummary)
export(HBD.segments)

#plotting functions
export(HBD.plot.id)
export(HBD.plot.chr)

export(ROH.plot.chr)
export(ROH.plot.id)

export(HFLOD.manhattan.plot)
export(HFLOD.plot.chr)

#others
export(read.msat.matrix)
export(random.msat)
exportMethods(show, dim)